/Data/DIS
/Data/ULA
/Data/URA
/my_first_simulation/controllers/model_controller
*.h5
*__pycache__
*cache
/Data/Test Case 2/Ruido bajo/ULA_64.CSV
/Data/Test Case 2/Ruido medio/ULA_64.CSV
/Data/Test Case 2/Ruido elevado/ULA_64.CSV
/Data/Test Case 3/No ruido/ULA_64.CSV
/Data/Test Case 3/Ruido bajo/ULA_64.CSV
/Data/Test Case 3/Ruido medio/ULA_64.CSV
/Data/Test Case 3/Ruido elevado/ULA_64.CSV